In [1]:
import sqlite3
con = sqlite3.connect("CL000_1M.db")
cursor = con.cursor()

In [7]:
import pandas as pd
df = pd.read_sql("SELECT * FROM candles where day > '20180710' order by dt", con, index_col='dt')

In [8]:
df

                             open   high    low  close  volume       day
dt
2018-07-11 07:00:00.000000  74.20  74.26  74.18  74.25     255  20180711
2018-07-11 07:01:00.000000  74.25  74.26  74.22  74.23     133  20180711
2018-07-11 07:02:00.000000  74.23  74.23  74.17  74.17      88  20180711
2018-07-11 07:03:00.000000  74.18  74.21  74.17  74.21      80  20180711
2018-07-11 07:04:00.000000  74.20  74.22  74.20  74.22      67  20180711
2018-07-11 07:05:00.000000  74.22  74.22  74.20  74.20      25  20180711
2018-07-11 07:06:00.000000  74.20  74.23  74.20  74.22      57  20180711
2018-07-11 07:07:00.000000  74.22  74.23  74.20  74.20      33  20180711
2018-07-11 07:08:00.000000  74.20  74.20  74.17  74.18      39  20180711
2018-07-11 07:09:00.000000  74.18  74.19  74.18  74.18      18  20180711
2018-07-11 07:10:00.000000  74.19  74.21  74.19  74.20      22  20180711
2018-07-11 07:11:00.000000  74.20  74.20  74.19  74.19      18  20180711
2018-07-11 07:12:00.000000  74.19  74.20  74.18  74.20      19  20180711
2018-07-11 07:13:00.000000  74.20  74.20  74.17  74.18      35  20180711
2018-07-11 07:14:00.000000  74.18  74.19  74.18  74.19      35  20180711
2018-07-11 07:15:00.000000  74.17  74.18  74.17  74.17       9  20180711
2018-07-11 07:16:00.000000  74.17  74.18  74.17  74.18      20  20180711
2018-07-11 07:17:00.000000  74.18  74.18  74.14  74.15     112  20180711
2018-07-11 07:18:00.000000  74.15  74.15  74.13  74.13      26  20180711
2018-07-11 07:19:00.000000  74.14  74.15  74.13  74.13      47  20180711
2018-07-11 07:20:00.000000  74.14  74.15  74.12  74.13      20  20180711
2018-07-11 07:21:00.000000  74.13  74.13  74.06  74.08     132  20180711
2018-07-11 07:22:00.000000  74.08  74.09  74.07  74.07      43  20180711
2018-07-11 07:23:00.000000  74.08  74.10  74.07  74.08      43  20180711
2018-07-11 07:24:00.000000  74.09  74.09  74.07  74.09      48  20180711
2018-07-11 07:25:00.000000  74.08  74.09  74.02  74.05     153  20180711
2018-07-11 07:26:00.000000  74.06  74.08  74.06  74.07      35  20180711
2018-07-11 07:27:00.000000  74.07  74.08  74.07  74.07      18  20180711
2018-07-11 07:28:00.000000  74.07  74.07  74.06  74.07      11  20180711
2018-07-11 07:29:00.000000  74.06  74.07  74.06  74.06      14  20180711
...                           ...    ...    ...    ...     ...       ...
2018-07-21 05:30:00.000000  68.10  68.11  68.09  68.09     112  20180720
2018-07-21 05:31:00.000000  68.10  68.10  68.09  68.10      23  20180720
2018-07-21 05:32:00.000000  68.10  68.11  68.10  68.10       7  20180720
2018-07-21 05:33:00.000000  68.10  68.11  68.09  68.09      10  20180720
2018-07-21 05:34:00.000000  68.09  68.10  68.09  68.09       8  20180720
2018-07-21 05:35:00.000000  68.09  68.09  68.06  68.07      90  20180720
2018-07-21 05:36:00.000000  68.06  68.07  68.06  68.06      43  20180720
2018-07-21 05:37:00.000000  68.06  68.06  68.04  68.04      77  20180720
2018-07-21 05:38:00.000000  68.04  68.07  68.04  68.06      40  20180720
2018-07-21 05:39:00.000000  68.07  68.11  68.07  68.09      87  20180720
2018-07-21 05:40:00.000000  68.10  68.10  68.08  68.10      57  20180720
2018-07-21 05:41:00.000000  68.10  68.10  68.10  68.10      10  20180720
2018-07-21 05:42:00.000000  68.10  68.11  68.10  68.11      38  20180720
2018-07-21 05:43:00.000000  68.11  68.11  68.09  68.09      27  20180720
2018-07-21 05:44:00.000000  68.09  68.09  68.07  68.08      37  20180720
2018-07-21 05:45:00.000000  68.08  68.09  68.07  68.08     102  20180720
2018-07-21 05:46:00.000000  68.09  68.10  68.05  68.07      81  20180720
2018-07-21 05:47:00.000000  68.07  68.07  68.04  68.06      50  20180720
2018-07-21 05:48:00.000000  68.06  68.07  68.05  68.06      26  20180720
2018-07-21 05:49:00.000000  68.06  68.07  68.05  68.06      28  20180720
2018-07-21 05:50:00.000000  68.06  68.13  68.06  68.11     228  20180720
2018-07-21 05:51:00.000000  68.10  68.11  68.10  68.11      20  20180720
2018-07-21 05:52:00.000000  68.10  68.10  68.09  68.09      13  20180720
2018-07-21 05:53:00.000000  68.09  68.10  68.09  68.09       7  20180720
2018-07-21 05:54:00.000000  68.10  68.11  68.09  68.10      26  20180720
2018-07-21 05:55:00.000000  68.10  68.13  68.10  68.13     159  20180720
2018-07-21 05:56:00.000000  68.12  68.13  68.11  68.11      48  20180720
2018-07-21 05:57:00.000000  68.11  68.12  68.11  68.12      10  20180720
2018-07-21 05:58:00.000000  68.12  68.13  68.11  68.13      47  20180720
2018-07-21 05:59:00.000000  68.13  68.15  68.11  68.14      92  20180720

[11003 rows x 6 columns]

In [11]:
df['high'].max()

74.26